@import url("../assets/fonts/GothamPro/stylesheet.css");
@import url(./colors.css);
@import url(./typography.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply max-w-[1440px] 
        laptop:mx-2  laptop:rounded-2xl laptop:shadow-md 
        desktop:mx-auto  desktop:rounded-2xl desktop:shadow-md;
}

/* .my-container {
  @apply max-w-[1440px] p-2
  laptop:mx-2 laptop:p-6 laptop:rounded-2xl laptop:shadow-md 
  desktop:mx-auto desktop:p-6 desktop:rounded-2xl desktop:shadow-md 
  tablet:p-4;
} */
* {
  @apply focus:outline-gc-primary;
}

:root {
  @apply bg-slate-100  text-gc-text-dark-gray focus:bg-gc-primary;
}

.btn-text {
  @apply flex items-center p-1
        hover:text-gc-primary
        active:text-gc-primary-hover
        transition-colors
        duration-300;
}

.active {
  @apply h-8 border border-gc-primary rounded-lg text-gc-primary px-3 pointer-events-none;
}

.logo-hover {
  @apply hover:scale-110
        transition-transform;
}

.btn-mui {
  @apply bg-opacity-10 min-w-[110px] h-[36px] px-4 py-[6px] rounded-[6px]  relative
        hover:bg-opacity-20 
        transition-colors 
        duration-100;
}

.btn-mui-container {
  @apply block absolute top-0 bottom-0 left-0 right-0 w-full h-full overflow-hidden;
}

.btn-mui-text {
  @apply text-sm;
}

.btn-mui-circle {
  @apply block absolute rounded-full bg-white bg-opacity-40 pointer-events-none w-14 h-14;
}

.btn-list {
  @apply mb-4 text-gc-text-dark-gray cursor-pointer transition-colors hover:text-gc-primary;
}

.btn-list:hover .btn-arrow {
  @apply rotate-[180deg] transition-transform duration-300;
}

.btn-arrow {
  @apply transition-all duration-300;
}
